
.center {
    margin:auto;
 }
 .txt-center {
   text-align: center;
 }
 .txt-right {
   text-align: right;
 }
 .txt-left {
   text-align: left;
 }
 
 .page_header {
    height: 60px !important;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-size:14px;
    font-weight: 500;
}
